html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}

#red {
    background-color: red:
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}